.header {
  grid-area: header;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  box-sizing: border-box;
}

.header img {
  width: 60px;
  max-height: 100%;
}

